################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/.vscode

/CMakeFiles
CmakeCache.txt

main.exe
/build
